Repository userfrosting/UserFrosting, pull requests merged in 2020-04, with the labels that each got.

#1082 sign_in_attempt throttler: don't count successful logins
  app/sprinkles/account/src/Controller/AccountController.php
  app/sprinkles/account/tests/Integration/Controller/AccountControllerTest.php
Labels: access control

#1083 4.4.1 Release
  .github/CONTRIBUTING.md
  .gitignore
  CHANGELOG.md
  app/defines.php
  app/sprinkles/account/src/Controller/AccountController.php
  app/sprinkles/account/src/Database/Models/Activity.php
  app/sprinkles/account/src/Database/Models/Group.php
  app/sprinkles/account/src/Database/Models/PasswordReset.php
  app/sprinkles/account/src/Database/Models/Permission.php
  app/sprinkles/account/src/Database/Models/Persistence.php
  app/sprinkles/account/src/Database/Models/Role.php
  app/sprinkles/account/src/Database/Models/User.php
  app/sprinkles/account/src/Database/Models/Verification.php
  app/sprinkles/account/src/Twig/AccountExtension.php
  app/sprinkles/account/tests/Integration/Controller/AccountControllerTest.php
  app/sprinkles/core/src/Database/Migrator/MigrationDependencyAnalyser.php
  app/sprinkles/core/src/Database/Migrator/MigrationRollbackDependencyAnalyser.php
  app/sprinkles/core/src/Database/Models/Throttle.php
  app/sprinkles/core/src/Error/Handler/ExceptionHandler.php
  app/sprinkles/core/src/Mail/TwigMailMessage.php
  app/sprinkles/core/src/ServicesProvider/ServicesProvider.php
  app/sprinkles/core/src/Twig/CoreExtension.php
  app/sprinkles/core/tests/Integration/Database/Migrator/DatabaseMigratorIntegrationTest.php
  app/sprinkles/core/tests/Integration/Database/Migrator/MigrationDependencyAnalyserTest.php
  app/sprinkles/core/tests/Integration/Migrations/two/CreateFlightsTable.php
  build/package.json
  build/tasks/assets-install.js
  phpdoc.dist.xml
Labels: Release PR

#1088 Fix for issue #1087
  CHANGELOG.md
  app/sprinkles/core/src/I18n/SiteLocale.php
  app/sprinkles/core/tests/Integration/I18n/SiteLocaleTest.php
Labels: confirmed bug, internationalization

#1093 Fix `browser_modules` folder not being deleted during install
  CHANGELOG.md
  build/tasks/assets-install.js
Labels: assets, confirmed bug

#1086 Update CheckEnvironment.php
  app/sprinkles/core/src/Util/CheckEnvironment.php
Labels: core feature request, developer experience, security
